body{
    margin:0;
    background:#f3f4f6;
    font-family:Arial,sans-serif;
}

.chat-container{

    width:420px;

    height:650px;

    margin:30px auto;

    display:flex;

    flex-direction:column;

    background:white;

    border-radius:20px;

    overflow:hidden;

    box-shadow:0 10px 30px rgba(0,0,0,.2);

}

.chat-header{

    background:#2563eb;

    color:white;

    font-size:22px;

    font-weight:bold;

    text-align:center;

    padding:18px;

}

.chat-body{

    flex:1;

    overflow-y:auto;

    padding:20px;

    background:#eef2ff;

}

.user-message{

    background:#2563eb;

    color:white;

    width:fit-content;

    max-width:75%;

    margin-left:auto;

    margin-bottom:15px;

    padding:12px;

    border-radius:15px;

}

.bot-message{

    background:white;

    width:fit-content;

    max-width:75%;

    margin-bottom:15px;

    padding:12px;

    border-radius:15px;

    border:1px solid #ddd;

}

.chat-footer{

    display:flex;

    padding:15px;

    background:white;

}

.chat-footer input{

    flex:1;

    padding:12px;

    border:1px solid #ccc;

    border-radius:10px;

    outline:none;

}

.chat-footer button{

    margin-left:10px;

    width:55px;

    border:none;

    background:#2563eb;

    color:white;

    border-radius:10px;

    cursor:pointer;

    font-size:20px;

}